*{
    margin: 0px;
    padding: 0px;
    font-style: oblique;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

:root{
    --green: green;
    --lightColor: rgb(0, 137, 183);
    --white: white;
    --black: black;
    --pointer: pointer;
}

.container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h-txt{
    color: var(--white);
    text-align: center;
}

.p-txt{
    color: var(--white);
    text-align: center;
}

.ch-container{
    /* flex-wrap: wrap; */
    background-color: var(--black);
    padding: 10px;
    width: 50%;
    border-radius: 10px;
    box-shadow: 5px 3px 7px 3px var(--black);
}

.display-box{
    margin: 30px;
}

.displayContainer{
    text-align: center;
    width: 100%;
    height: 30px;
    margin: 5px;
}

.btn-container{
    display: flex;
    justify-content: center;
}

.btn-add, .btn-sort{
    width: 100%;
    height: 30px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    color: var(--white);
}

.btn-add{
    background-color: var(--green);
}

.btn-sort{
    background-color: var(--lightColor);
}

.main-task-container{
    padding: 5px;
}

.todo-container{
    height: 200px;
    border: 1px solid var(--white);
    color: var(--white);
}

.task--{
    display: flex;
    justify-content: center;
    text-align: center;
}
.tab{
    display: flex;
}

.li-name{
    margin: 10px;
}

.btn-remove{
    background-color: rgba(255, 255, 255, 0);
    border: none;
    color: var(--white);
    cursor: var(--pointer);
}